---


import { getI18N } from "@/i18n";
import LanguagePicker from "../LanguagePicker.astro";




const  { currentLocale = 'en' } = Astro
const i18n = getI18N({currentLocale});




---
<section class="bg-[#e6a6ce] ">
  <nav class="flex w-[90%] justify-between mx-auto py-9 items-center sticky top-0">
    <div class="flex flex-col justify-center text-center md:flex-row md:text-left md:gap-8 md:items-center md:justify-start">
      <a href="#" class="flex items-center justify-center">
        <img src="/StefLogo.webp" class="lg:h-24 h-10 lg:w-24 w-10 rounded-full" alt="" />
      </a>
      <p class="lg:text-lg font-semibold text-lg">{i18n?.navbar.p}</p>
  
    </div>
  
    <div class="hidden md:flex gap-4">
      <a 
        href='#services'
        class="relative w-24 rounded-md px-2 py-1 text-center overflow-hidden text-black shadow-2xl transition-all duration-200 before:absolute before:bottom-0 before:left-0 before:right-0 before:top-0 before:m-auto before:h-0 before:w-0 before:rounded-sm before:bg-[#fbd12d] before:duration-300 before:ease-out hover:text-white hover:shadow-[#fbd12d] hover:before:h-40 hover:before:w-40 hover:before:opacity-80">
        <span class="relative z-10">{i18n?.navbar.services}</span>
      </a>

      <a 
        href='#contact'
        class="relative w-24 rounded-md px-2 py-1 text-center overflow-hidden text-black shadow-2xl transition-all duration-200 before:absolute before:bottom-0 before:left-0 before:right-0 before:top-0 before:m-auto before:h-0 before:w-0 before:rounded-sm before:bg-[#fbd12d] before:duration-300 before:ease-out hover:text-white hover:shadow-[#fbd12d] hover:before:h-40 hover:before:w-40 hover:before:opacity-80">
        <span class="relative z-10">{i18n?.navbar.contact}</span>
      </a>
      <div class="flex gap-4">
        <LanguagePicker />

      </div>

    </div>
    
    <div class="flex items-center md:hidden">
      <button
        type="button"
        id="menu-button"
        aria-controls="drawer-navigation"
        data-drawer-target="drawer-navigation"
        data-drawer-show="drawer-navigation"
        class="text-black hover:text-[#fbd12d] focus:outline-none"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width={2}
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </nav>
  
  

  <div
    id="drawer-navigation"
    class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-[#e6a6ce] w-64"
    tabindex="-1"
    aria-labelledby="drawer-navigation-label"
  >
    <img src="/StefLogo.webp" class="rounded-md" alt="">
    <div class=" right-[200px]   p-4">
      <LanguagePicker />
    </div>
    <button
      type="button"
      data-drawer-hide="drawer-navigation"
      aria-controls="drawer-navigation"
      class="text-black mt-2 mr-2 hover:text-[#febc26] rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center"
    >
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
      </svg>
      <span class="sr-only">Close menu</span>
    </button>
    <div class="py-4 overflow-y-auto">
      <ul class="space-y-2 font-medium">
        
        <li class="flex items-center justify-center mx-auto">
          <a
            href="#services"
            class="flex items-center mt-10 p-2 text-black rounded-lg hover:bg-white"
          >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
            <path d="M21 3L13 11.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M9.44573 11.0854C6.96539 12.0368 4.98269 11.8736 3 11.0885C3.50059 17.531 6.50414 20.0089 10.5089 21C10.5089 21 13.5261 18.8664 13.961 13.8074C14.0081 13.2595 14.0317 12.9856 13.9178 12.6769C13.8038 12.3682 13.5802 12.1468 13.1329 11.704C12.3973 10.9757 12.0295 10.6116 11.5929 10.5204C11.1564 10.4293 10.5862 10.648 9.44573 11.0854Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M4.5 16.4464C4.5 16.4464 7 16.9286 9.5 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M8.5 7.25C8.5 7.94036 7.94036 8.5 7.25 8.5C6.55964 8.5 6 7.94036 6 7.25C6 6.55964 6.55964 6 7.25 6C7.94036 6 8.5 6.55964 8.5 7.25Z" stroke="currentColor" stroke-width="1.5" />
            <path d="M11 4V4.1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">{i18n?.navbar.services}</span>
          </a>
        </li>

        <li class="flex items-center justify-center mx-auto">
          <a
            href="#contact"
            class="flex items-center p-2 text-black rounded-lg hover:bg-white"
          >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
            <path d="M21 3L13 11.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M9.44573 11.0854C6.96539 12.0368 4.98269 11.8736 3 11.0885C3.50059 17.531 6.50414 20.0089 10.5089 21C10.5089 21 13.5261 18.8664 13.961 13.8074C14.0081 13.2595 14.0317 12.9856 13.9178 12.6769C13.8038 12.3682 13.5802 12.1468 13.1329 11.704C12.3973 10.9757 12.0295 10.6116 11.5929 10.5204C11.1564 10.4293 10.5862 10.648 9.44573 11.0854Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M4.5 16.4464C4.5 16.4464 7 16.9286 9.5 15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M8.5 7.25C8.5 7.94036 7.94036 8.5 7.25 8.5C6.55964 8.5 6 7.94036 6 7.25C6 6.55964 6.55964 6 7.25 6C7.94036 6 8.5 6.55964 8.5 7.25Z" stroke="currentColor" stroke-width="1.5" />
            <path d="M11 4V4.1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">{i18n?.navbar.contact}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<script>
  const button = document.querySelector("#menu-button");
  const drawer = document.querySelector("#drawer-navigation");

  if (button && drawer) {
    button.addEventListener("click", () => {
      drawer.classList.toggle("-translate-x-full");
    });

    const closeButton = drawer.querySelector(
      "[data-drawer-hide='drawer-navigation']"
    );

    if (closeButton)
      closeButton.addEventListener("click", () => {
        drawer.classList.add("-translate-x-full");
      });
  }

  document.addEventListener("DOMContentLoaded", () => {
    const navLinks = document.querySelectorAll(".nav-link");

    navLinks.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const targetId = link.getAttribute("href");

        if (!targetId) return;
        const targetElement = document.querySelector(targetId) as HTMLElement;

        if (targetElement) {
          window.scrollTo({
            top: targetElement.offsetTop,
            behavior: "smooth",
          });
        }
      });
    });
  });



  


</script>


