---
const images = [
  "/gale1.webp",
  "/gale2.webp",
  "/gale3.webp",
  "/gale4.webp",
  "/gale5.webp",
  "/gale6.webp",
  "/gale7.webp",
  "/gale8.webp",
  "/gale9.webp",
  "/gale10.webp",
  "/gale11.webp",
  "/gale12.webp",
  "/gale13.webp",
  "/gale14.webp",
  "/gale15.webp",
  "/gale16.webp",
  "/gale17.webp",
  "/gale18.webp",
  "/gale19.webp",
  "/gale20.webp",
  "/gale21.webp",
  "/gale22.webp",

]

import { getI18N } from "@/i18n";

const  { currentLocale = 'en' } = Astro
const i18n = getI18N({currentLocale});

---

<div id="gallery" class="relative w-full h-full py-32  bg-[#e7d486]" data-carousel="slide">
  <h2 class="text-4xl font-semibold text-center pb-12">{i18n?.gallery.title}</h2>
  <h3 class="text-2xl text-gray-800 mx-auto w-[80%] font-semibold text-center pb-12">{i18n?.gallery.subtitle}</h3>
  <!-- Carousel wrapper -->
  <div class="relative md:w-[80%] lg:w-[80%] w-full h-[300px] mx-auto overflow-hidden rounded-lg md:h-[500px] lg:h-[500px] p-4">
    {images.map((src, index) => (
      <div
        class={`hidden duration-700 ease-in-out ${index === 0 ? 'block' : ''}`}
        data-carousel-item={index === 0 ? 'active' : ''}
      >
        <img
          src={src}
          class="absolute block max-w-full object-cover w-full  h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
          alt={`Gallery item ${index + 1}`}
        />
      </div>
    ))}
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center lg:mt-24 mt-44 w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-black dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"></path>
      </svg>
      <span class="sr-only">{i18n?.gallery.prev}</span>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center lg:mt-24 mt-44 w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-black dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"></path>
      </svg>
      <span class="sr-only">{i18n?.gallery.next}</span>
    </span>
  </button>
</div>
